<!-- BEGIN player -->
<img style="height: 35px !important;" id="headerimage" class="media-object"
	 src="./Customizing/global/plugins/Services/Repository/RepositoryObject/InteractiveVideo/templates/images/icon_xvid.svg">
<h1 class="media-heading ilHeader" class="lft">{TITLE}</h1>
{PLAYER}
<!-- BEGIN player -->
<!-- BEGIN container -->
<ul class="iosInteractiveVideoReferenceContainer">
	<li>
		<div>
			<div class="lft"><img src="{ICON}" alt="{TITLE}"/></div>
			<div class="rgt">
				<!-- BEGIN unlinked_title --><h2>{UNLINKED_TITLE}</h2><!-- END unlinked_title -->
				<!-- BEGIN linked_title --><h2><a href="{URL}">{LINKED_TITLE}</a></h2><!-- END linked_title -->
				<!-- BEGIN desc --><p>{DESCRIPTION}</p><!-- END desc -->
				<!-- BEGIN link -->{LINK_BUTTON}<!-- END link -->
			</div>
		</div>
		<div class="clearfix"></div>
	</li>
</ul>
<!-- END container -->